<%- include('header'); -%>

<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, non.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam perferendis quisquam facilis nisi soluta cumque, libero repellendus iste nostrum laboriosam quidem eligendi nobis numquam ipsum dignissimos recusandae! At qui corporis eum expedita odio id illo nobis quis nulla voluptate quas sunt, facere consequatur nostrum eius, dolores laborum, et culpa!</p>

<%- include('footer'); -%>